body{
    background-color: rgb(245, 201, 209);
    font-family: 'Poppins', sans-serif;
   
    
    
}
.section {
    width: 90vw;
    margin: 0 auto;
}
.title{
display: flex;
font-size: 2em;
justify-content: center;
align-items: center;

}
.search{
   display: flex;
   justify-content: center;
   align-items: center;
    
    
}
.search-form{
   width: 90vw;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   

}

.form-input{
    width: 20em;
    margin-right: 2em;
    border:none;
    padding: 5px 20px;
    
    
}

.submit-btn{
    border: none;
    padding: 5px 20px;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}



.nav-container{
    
    justify-content: right;
    display: flex;
}

.navigation-items{
    display: flex;
   
}

.navigation-items li{
    padding:20px;
    list-style: none;

}

.photos {
    padding: 5rem 0;
}

.photos-center {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

.photo {
    height: 17.5rem;
    position: relative;
    overflow: hidden;
}